@use "@src/styles.scss" as global;

.form-container {
  width: 55%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: global.$authWrapper;
    border-radius: 1rem;
    padding: 2.5rem;

    .heading {
      font-size: 1.05rem;
      color: global.$headerColor;

      span {
        font-family: "Inter-Medium";
        font-size: 1.2rem;
      }
    }

    .docs-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .doc {
        display: flex;
        align-items: center;
        gap: 1rem;

        .detail {
          p {
            color: global.$headerColor;

            span {
              color: global.$secondary-text;
            }
          }
        }
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin-bottom: 1rem;

      .disableInteractions {
        pointer-events: none;
      }

      .gst-det-container {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
        gap: 1rem;

        .gstIN {
          display: flex;
          position: relative;

          .gstOtpSendBtn {
            position: absolute;
            right: .5rem;
            top: 2.2rem;
          }
        }
      }

      .emailContainer {
        display: flex;
        position: relative;

        .validateEmailBtn {
          position: absolute;
          top: 2.2rem;
          right: 1rem;
        }
      }

      .isDisabled {
        opacity: 0.5;
        pointer-events: none;
      }

      .termsInfo {
        font-size: 12px;
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      .resend-otp {
        font-size: 12px;
      }
    }

    .siginLink {
      text-align: center;
    }
  }

  .gst-det {
    padding: 0 3rem 0 0;
    font-size: 1.3rem;
  }

  .otp-det {
    margin: 0;
  }

  .email {
    color: black;
    font-family: "Inter-Medium";
  }

  .otp-label {
    font-size: .7rem;

    span {
      margin-right: .5rem;
    }
  }
}

.tickIcon {
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: translateY(-50%);
}

.ca-form {
  width: 70%;
}

.registered-modal {
  text-align: center;

  p {
    margin-bottom: 2rem;
  }
}
