<div
  *ngIf="isSignupSuccess === 'email'"
  class="form-container"
  [ngClass]="{ 'ca-form': emailForm.value.accountType === '2' }"
>
  <div class="formWrapper">
    <p class="heading">Create An Account</p>

    <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <ui-select
        [options]="options"
        label="Registering As"
        [required]="true"
        formControlName="accountType"
        [errorMessage]="getErrorMessage('accountType')"
      ></ui-select>

      <ng-container *ngIf="emailForm.value.accountType === '2'">
        <div class="gst-det-container">
          <ui-input
            label="GSTIN"
            placeholder="GST Number"
            [required]="true"
            formControlName="gstIN"
            [errorMessage]="getErrorMessage('gstIN') || gstINError"
            [inputProps]="{ maxLength: 15 }"
          ></ui-input>

          <div class="gstIN">
            <ui-input
              label="GST Username"
              placeholder="Gst Username"
              [required]="true"
              formControlName="gstUsername"
              [errorMessage]="
                getErrorMessage('gstUsername') || gstUsernameError
              "
              [customClass]="{
                flex: '1',
                width: '17rem',
                'padding-right': '6rem'
              }"
            ></ui-input>

            <div class="gstOtpSendBtn">
              <ui-button
                type="button"
                [outlined]="true"
                content="Send OTP"
                [customStyle]="{
                  width: '100%',
                  height: 'max-content',
                  padding: '0.2rem 0.5rem',
                  border: 'none'
                }"
                (click)="gstDetails()"
                [disabled]="
                  isLoading ||
                  emailForm.value.gstUsername === '' ||
                    emailForm.value.gstIN === ''
                "
              ></ui-button>
            </div>
          </div>
        </div>

        <div
          *ngIf="isGstDetailsFetched"
          [ngClass]="{ isDisabled: !isGstDetailsFetched }"
        >
          <ui-otp
            label="GST OTP"
            (otpEntered)="onGstOtpEntered($event)"
            [errorMessage]="getErrorMessage('gstOtp') || gstOtpError"
            [disabled]="!isGstDetailsFetched"
          >
          </ui-otp>

          <p *ngIf="!isGstOtpVerified" class="resend-otp">
            Didn’t Receive OTP?
            <a (click)="handleResendGstOtp()">Resend OTP</a>
            <!-- <span *ngIf="resendTimer > 0"> in {{ resendTimer }} Seconds</span> -->
            <span *ngIf="tempTimer > 0"> in {{ tempTimer }} Seconds</span>
          </p>
          <p>{{ tempTimer }}</p>
        </div>

        <div *ngIf="isGstOtpVerified" class="d-flex flex-row position-relative">
          <div class="w-100">
            <ui-input
              label="Company Name"
              placeholder="Company Name"
              [required]="true"
              formControlName="companyName"
              [errorMessage]="getErrorMessage('companyName')"
              [disabled]="
                emailForm.value.accountType === '2' && !isGstOtpVerified
              "
              [readOnly]="emailForm.value.accountType === '2'"
            ></ui-input>
          </div>
          <lucide-icon
            *ngIf="isGstDetailsFetched"
            class="tickIcon"
            color="green"
            [name]="tickIcon"
          ></lucide-icon>
        </div>
      </ng-container>

      <!-- <ng-container
        *ngIf="emailForm.value.accountType === '2' ? isGstOtpVerified : true"
      > -->
        <ui-input
          label="Username"
          placeholder="Enter your username"
          [required]="true"
          formControlName="name"
          [errorMessage]="getErrorMessage('name')"
          [disabled]="emailForm.value.accountType === '2' && !isGstOtpVerified"
        ></ui-input>

        <ui-input
          label="Corporate E-Mail"
          placeholder="name@company.com"
          [required]="true"
          formControlName="email"
          [errorMessage]="getErrorMessage('email') || emailError"
          [disabled]="emailForm.value.accountType === '2' && !isGstOtpVerified"
        ></ui-input>
      <!-- </ng-container> -->

      <span class="termsInfo">
        <ui-input
          type="checkbox"
          formControlName="isAgree"
          [errorMessage]="getErrorMessage('isAgree')"
        ></ui-input>
        <span>
          I agree to the
          <a (click)="updateTermsModal()">Terms & Conditions</a> and
          <a (click)="updateTermsModal()">Privacy Policy</a>
        </span>
      </span>

      <ui-button
        content="Proceed"
        [customStyle]="{ width: '100%' }"
        type="submit"
        [loading]="isLoading && emailForm.valid"
        [disabled]="
          emailForm.value.accountType === '1'
            ? emailForm.invalid
            : emailForm.invalid || !isGstOtpVerified
        "
      ></ui-button>
    </form>

    <p class="siginLink">
      Already have an Account? <a routerLink="/auth/signin">Login</a>
    </p>
  </div>
</div>

<!-- <auth-verify-otp
  *ngIf="isSignupSuccess"
  (enteredOtp)="handleSignupUserOtp($event)"
  [errorMessage]="userOtpError"
></auth-verify-otp> -->

<div *ngIf="isSignupSuccess === 'otp'" class="form-container">
  <div class="formWrapper">
    <div>
      <p class="otp-det">OTP has been sent to</p>
      <p class="email">{{ maskEmail(emailForm.value.email) }}</p>
    </div>

    <div>
      <p class="otp-label">
        <span>OTP</span>
        <a (click)="changeEmailAddress()">Change Email Address</a>
      </p>

      <form (ngSubmit)="submitOtp()">
        <ui-otp
          [length]="6"
          [onlyNumeric]="true"
          (otpEntered)="onOtpEntered($event)"
          [errorMessage]="otpError"
        >
        </ui-otp>

        <p class="resend-otp">
          Didn’t Receive OTP? <a (click)="resendLoginOtp()">Resend OTP</a>
          <span *ngIf="tempTimer > 0"> in {{ tempTimer }} Seconds</span>
        </p>

        <ui-button
          type="submit"
          content="Proceed"
          [customStyle]="{ width: '100%' }"
          [loading]="isLoading"
        ></ui-button>
      </form>
    </div>
  </div>
</div>

<div *ngIf="isSignupSuccess === 'irp'" class="form-container irp-container">
  <div class="formWrapper">
    <p class="heading">Enter your IRP Credentials (Optional)</p>

    <p>
      If you want to Generate E-Invoice, Kindly input existing Invoice
      Registration Portal (IRP) credentials, or Register your company details in
      the IRP Portal to generate credentials.
    </p>

    <form [formGroup]="irpForm" (ngSubmit)="submitIrpForm(true)">
      <div class="flex-row">
        <label class="form-label fw-semibold mb-1">Username</label>
        <input
          matInput
          class="form-control border-0 p-2"
          placeholder="Enter your Username"
          formControlName="username"
        />
        <p
          *ngIf="
            irpForm.get('username')?.invalid &&
            (irpForm.get('username')?.touched || irpFormSubmitted)
          "
          class="text-danger"
        >
          Username is required
        </p>
      </div>

      <div>
        <label class="form-label fw-semibold mb-1">Password</label>
        <input
          matInput
          class="form-control border-0 p-2"
          placeholder="Enter your Password"
          type="password"
          formControlName="password"
        />
        <p
          *ngIf="
            irpForm.get('password')?.invalid &&
            (irpForm.get('password')?.touched || irpFormSubmitted)
          "
          class="text-danger"
        >
          Password is required
        </p>
      </div>

      <div class="d-flex justify-content-between mt-3">
        <ui-button
          type="button"
          content="I'll do it later"
          [outlined]="true"
          (click)="submitIrpForm(false)"
        ></ui-button>

        <ui-button
          type="submit"
          content="Proceed"
          [loading]="isLoading"
        ></ui-button>
      </div>

      <p class="text-center">You can add IRP Credentials later in Settings</p>
    </form>
  </div>
</div>

<ui-modal *ngIf="showTermsModal" (close)="updateTermsModal()">
  <div modal-content>
    <app-terms-info></app-terms-info>
  </div>
</ui-modal>
