<header>
  <p class="pageTitle">{{pageTitle}}</p>

  <div class="pageContent">
    <ng-container [ngSwitch]="activeLink">

      <!-- <business-header *ngSwitchCase="'/'"></business-header> -->

      <!-- <div *ngSwitchCase="'/partner'">
        <button class="add-partner">➕ Add Partner</button>
        <button class="settings-btn">⚙ Settings</button>
      </div>

      <div *ngSwitchCase="'/inventory'">
        <input type="search" placeholder="Search Inventory..." />
      </div>

      <div *ngSwitchCase="'/sales'">
        <button class="export-btn">📤 Export</button>
        <button class="filter-btn">🔍 Filter</button>
      </div> -->

    </ng-container>
  </div>
</header>
