@use '@src/styles.scss' as global;

.otp-container {
  display: flex;
  flex-direction: column;

  .input-label {
    font-size: 12px;
    color: global.$secondary-text;
  }

  .otp-input {
    width: 2.5rem;
    height: 2.5rem;
    margin: 5px;
    text-align: center;
    color: global.$input-text;
    font-size: 1rem;
    border: 1px solid global.$border-color;
    border-radius: global.$border-radius;

    &:focus {
      outline: none;
      border-color: global.$primary-active;
    }
  }

  .error {
    color: global.$error-color;
    font-size: 12px;
  }

  .input-error {
    color: global.$error-color;
    border: 1px solid global.$error-color;
  }
}

