$primary-active: #2A4BD0;
$primary-color: #ccc;

$primary-light: #2a4bd014;

$primary-text: #5F697E;
$secondary-text: #838998;
$secondary-text-dim: #A7ABB3;
$font-color: #333;
$error-color: red;

$border-color: #ccc;
$border-radius: .5rem;

$input-bg-color: #fff;
$input-padding: .7rem 1rem;
$disabled-bg-color: #f5f5f5;
$input-text: #424A5A;

$secondary-grey: #F5F7F9;
$secondary-blue: #2a4bd014;
$grey-1: #EFEFEF;

$primary-yellow: #CD9D00;
$secondary-yellow: #FFFF001A;


$headerColor: #1D2430;
$primaryText: #424A5A;
$secondaryText: #838998;
$secondaryTextDim: #FBFBFC;
$primaryBlue: #02327E;
$authWrapper: #02327E0A;
$copper: #CE8769;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: $primary-text;
}

a {
  color: $primary-yellow;
  font-weight: 600;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Light";
  src: url("assets/fonts/Inter-Light.woff2") format("woff2");
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("assets/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: url("assets/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("assets/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

.toast-container {
  color: red !important;  /* Set text color to red */
}

.toast-success {
  border-radius: 1rem !important;  /* Set border radius for rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2) !important;  /* Add a subtle shadow */

  // .toast-title {
  //   color: white !important;  /* Change the title color inside the toast */
  // }

  // .toast-message {
  //   color: black !important;  /* Change the message color */
  // }
}

/* Hide the default icon in ngx-toastr */
.toast-success .toast-message::before,
.toast-error .toast-message::before,
.toast-info .toast-message::before,
.toast-warning .toast-message::before {
  display: none !important; /* Hides the default icon */
}


/* Add more specific customization if needed */
// .toast-success .toast-title {
//   color: white !important;  /* Change the title color inside the toast */
// }

// .toast-success .toast-message {
//   color: black !important;  /* Change the message color */
// }

// /* Importing Bootstrap SCSS file. */
// @import 'bootstrap/scss/bootstrap';

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
